@inherits DisplayPlayersListBase

<ul>
    @foreach (var player in Players)
    {
        var playerLink = $"player/{@player.Id}";
        var playerDisplayName = $"{player.Name} {player.Surname}";

        <li>
            <div class="row border-bottom text-dark">
                <div class="col-12 border-end">
                    <NavLink class="nav-link text-dark" href="@playerLink">
                        <span>@playerDisplayName</span>
                    </NavLink>
                </div>
            </div>
        </li>
    }
</ul>