@page "/players"
@inherits PlayersBase
@using CapFive.Web.Pages.Common

@if(Players == null) 
{
    <div><Spinner /></div>
} else 
{
    <div class="row card">
        <DisplayPlayersList Players="Players"></DisplayPlayersList>
    </div>
    <div class="row">
        <NavLink class="nav-link" href="player">
            <span class="oi oi-person aria-hidden="true"></span> Add new player
        </NavLink>
    </div>
}