@page "/players"
@inherits PlayersBase
@using CapFive.Web.Pages.Common
@inject IStringLocalizer<Resource> localizer

@if(Players == null) 
{
    <div><Spinner /></div>
} else 
{
    <div class="row card">
        <DisplayPlayersList Players="Players"></DisplayPlayersList>
    </div>
    <div class="row">
        <NavLink class="nav-link text-dark" href="player">
            <span class="bi bi-person-plus-fill" aria-hidden="true"></span>
            <span class="p-1">@localizer["addNewPlayer"]</span>
        </NavLink>
    </div>
}