@page "/players"
@inherits PlayersBase
@using CapFive.Web.Pages.Common

@if(Players == null) 
{
    <div><Spinner /></div>
} else 
{
    <div class="row card">
        <DisplayPlayersList Players="Players"></DisplayPlayersList>
    </div>
}