@inherits PlayerFormBase
@using CapFive.Web.Pages.Common

<h3>Player details</h3>
<EditForm Model="@Player" OnSubmit="@FormSubmited">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                <InputText @bind-Value=Player.Name class="form-control" id="Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="Surname">Surname</label>
                <InputText @bind-Value=Player.Surname class="form-control" id="Surname" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="Email">Email</label>
                <InputText @bind-Value=Player.Email class="form-control" id="Email" />
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>