@inherits DisplayTournamentsListBase
@inject NavigationManager Navigation

<ul>
    @foreach (var tournament in Tournaments.OrderByDescending(o => o.Id))
    {
        var tournamentLink = $"/tournament/{@tournament.Id}";

        <li>
            <div class="row border-bottom text-dark">
                <div class="col-10 p-1">
                    <NavLink class="nav-link text-dark" href="@tournamentLink">
                        <span>@tournament.Name</span>
                    </NavLink>
                </div>
                <div class="col-2 border-end">
                    @if (tournament.Status == CapFive.Shared.Tournament.TournamentStatus.Started)
                    {
                        <span class="bi bi-play-circle-fill text-success"></span>
                    }
                </div>
            </div>
        </li>
    }
</ul>