@using CapFive.Web.Pages.Common
@inherits MainLayoutBase

<CascadingValue Value="@DisplayMessage" Name="InfoToastEvent">
    <CascadingValue Value="DisplayError" Name="ErrorToastEvent">
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                </div>

                <article class="content px-4">
                    @if (!string.IsNullOrWhiteSpace(InfoMessage))
                    {
                        <DisplayInfo Message="@InfoMessage" />
                    }
                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                        <DisplayError ErrorMessage="@ErrorMessage" />
                    }
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</CascadingValue>